* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 37, 31, 0.646);
  /* margin-top: 50px; */
  /* height: 70%; */
}
.main {
  /* width: 90%; */
  width: 100%;
  max-width: 414px;
  border: 2px solid;
  max-width: 600px;
  height: 100vh;
  /* height: 80vh; */
  /* max-height:600px; */
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.head {
  /* border: 2px solid; */
  width: 100%;
   height: 100px;
   
  border-radius: 20px;
  background-color: rgb(222, 182, 248);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container {
  /* border: 2px solid; */
  width: 100%;
  height: 500px;
  min-height: 300px;
  max-height: 700px;
  height: 60vh;
  /* flex-direction: column;
  align-items: flex-end;
  justify-content: space-between; */
  position: relative;
  /* flex-direction: column;
  align-items: flex-end; */
  overflow: auto;
  /* border-radius: 20px; */

  /* scrollbar-color: rgb(232, 123, 123);
  scrollbar-width:thin;
  scroll-behavior: smooth;
  scroll-snap-type: none;
scroll-behavior: none; */
  scrollbar-width: thin;
}

.footer {
  /* border: 2px solid saddlebrown; */
  width: 100%;
  height: 70px;
  margin-top: 75px;
  /* margin-left: 30px; */
  display: flex;
  position: relative;
  /* align-items: center; */
  justify-content: center;
  gap: 10px;
  background-color: white;
  /* margin-top: -90px; */


  /* background-color: rgb(223, 189, 245); */
}

#inp {
  margin-top: 20px;
  /* margin-left:45px; */
  width: 70%;

  height: 35px;
  border: 2px solid rgb(215, 153, 253);
  border-radius: 50px;
  padding: 10px;
  overflow: visible;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  word-break: keep-all;
  word-wrap: break-word;
  color: rgb(10, 71, 71);
  /* background-color: rgb(236, 216, 249); */
  margin-left: 30px;
  
}
button {
  height: 30px;
  width: 30px;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  margin-bottom: 15px;
  mix-blend-mode: darken;
  /* border: 2px solid;
   */
  background-color: white;
  color: white;
  margin-top: 20px;
}
.shreeai {
  width: 35px;
  margin-right: 70px;
  position: absolute;
  margin-top: -20px;
  left: 0;
  mix-blend-mode: darken;
}
.shreeus {
  width: 25px;
  position: absolute;
  right: 8px;
  margin-top: -15px;
  mix-blend-mode: darken;
}

/* .bottext{
    left: 0;
display: flex;
gap: 10px;
padding: 20px;
justify-content: space-between;
} */

.bottext {
  padding: 10px;
  /* border: 2px solid; */
  margin: 25px 38px;
  /* margin-top: 25px; */
  /* width: 75%; */
  
  background-color: rgb(228, 210, 239);
  color: rgb(83, 48, 48);
  border-radius: 0px 20px 20px 20px;
  /* overflow: auto; */
  word-wrap: break-word;
  width: auto;
  display: block;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.botxt {
  padding: 10px;
  margin: 25px 38px;
  /* margin-top: 25px; */
  /* width: 75%; */
  width: max-content;
  background-color: rgb(228, 210, 239);
  color: rgb(83, 48, 48);
  border-radius: 0px 20px 20px 20px;
  /* overflow: auto; */
  word-break: break-all;
  width: auto;
  font-size: 16px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.usertext {
  padding: 10px;
  margin: 25px 40px;

  margin-top: 25px;
  /* width: 75%; */
  width: auto;
  background-color: white;
  color: rgb(83, 48, 48);
  border-radius: 15px 0px 20px 20px;
  display: flex;
  word-break: break-all;
  /* display: none; */
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.load {
  display: block;
}
.sub-main {
  margin: 0;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
  /* shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#headeimg {
  border-radius: 50%;
  /* margin: 25px 0px 25px  30px; */
  border: 2px solid;
  color: white;
  background-color: aquamarine;
  margin-top: 25px;
  margin-left: 30px;
}
.sub-main {
  display: flex;
}
#chatwith {
  margin-top: 31px;
  margin-left: 10px;
  font-size: 15px;
  font-style: italic;
  color: black;
}
#me {
  margin-top: 46px;
  margin-left: -50px;
  font-size: 10px;
  font-style: italic;
  color: rgb(86, 81, 81);
}
#b {
  /* margin-top: -21px; */
  font-size: 8px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 6px black;
}
#des {
  color: blue;
}
